/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ===================================================================================== */
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.container {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  overflow: hidden;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px auto;
  padding: 40px 30px 70px 30px;
  border-radius: 10px;
}
.todo-app__title {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  color: #002765;
}
.todo-app__img {
  width: 30px;
  margin: 0px 0px 0px 10px;
}

.todo-app__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  margin: 0px 0px 25px 0px;
}
.todo-app__input {
  flex: 1 1 auto;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 10px 10px 15px;
}
.todo-app__btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease 0s;
}
.todo-app__btn:hover {
  background-color: #ff6f5f;
}

.todo-app__list {
}
.todo-app__list-item {
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 17px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li:before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/img/unchecked.png);
  background-position: center;
  background-size: cover;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked:before {
  content: "";
  background-image: url(/img/checked.png);
  background-position: center;
  background-size: cover;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease 0s;
}
ul li span:hover {
  background-color: #edeef0;
}
